h1 {
    text-align: center;
}
#title {
    background-color: aquamarine;
    padding: 5px;
}
#content {
    background-color: aquamarine;
    padding: 5px;
}
#footer {
    background-color: aquamarine;
    padding: 5px;
}